<?xml version="1.0" encoding="UTF-8"?>
<WServer>
    <JavaHTTPServer>
       <PORT>8080</PORT>
	<DEFAULT_FILE>index.html</DEFAULT_FILE> 
       <WEB_ROOT>new File(".")</WEB_ROOT>
       <FILE_NOT_FOUND>404.html</FILE_NOT_FOUND>
       <METHOD_NOT_SUPPORTED>not_supported.html</METHOD_NOT_SUPPORTED>
    </JavaHTTPServer>
</WServer>